services:
  - type: web
    name: dangbo-app
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT --workers 1 --timeout 120
    envVars:
      - key: DISABLE_EMBEDDING
        value: 1
      - key: PYTHONUNBUFFERED
        value: true
